* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}
*::-moz-selection {
  background-color: #f1c50e;
  color: #ffffff;
}
*::selection {
  background-color: #f1c50e;
  color: #ffffff;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #1f1f1f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
body header {
  margin: auto;
  position: fixed;
  background-color: rgba(17, 17, 17, 0.9333333333);
  width: 100%;
  top: 0;
}
body header .header_content {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px 50px;
}
body header .header_content .top_menu_wrapper ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
body header .header_content .top_menu_wrapper ul li {
  border-bottom: 1px solid transparent;
  position: relative;
  padding: 5px 10px;
}
body header .header_content .top_menu_wrapper ul li::first-letter {
  color: #f1c50e;
}
body header .header_content .top_menu_wrapper ul li::before, body header .header_content .top_menu_wrapper ul li::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 400ms;
}
body header .header_content .top_menu_wrapper ul li::before {
  border: 1px solid rgba(241, 196, 14, 0.5607843137);
  bottom: 3px;
  left: 3px;
}
body header .header_content .top_menu_wrapper ul li::after {
  border: 1px solid #f1c40e;
  box-shadow: 3px -3px 5px rgba(241, 196, 14, 0.3098039216), inset 3px -3px 5px rgba(241, 196, 14, 0.3098039216);
  top: 3px;
  right: 3px;
}
body header .header_content .top_menu_wrapper ul li:hover::before {
  transform: translate(-3px, 3px);
}
body header .header_content .top_menu_wrapper ul li:hover::after {
  transform: translate(3px, -3px);
}
@media (max-width: 700px) {
  body header .header_content .top_menu_wrapper {
    display: none;
  }
}
body header .header_content .burger_menu {
  display: none;
}
@media (max-width: 700px) {
  body header .header_content .burger_menu {
    display: block;
  }
  body header .header_content .burger_menu:hover {
    cursor: pointer;
  }
  body header .header_content .burger_menu:hover span {
    background-color: #f1c50e;
    transition-duration: 400ms;
  }
  body header .header_content .burger_menu span {
    width: 25px;
    height: 3px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 5px;
  }
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
}
body main .hero_wrapper {
  margin-top: 100px;
  min-height: 600px;
  display: flex;
}
body main .hero_wrapper .hero_text_wrapper {
  flex: 1;
  background-color: #111111;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .hero_wrapper .hero_text_wrapper .hero_text_content {
  max-width: 630px;
}
body main .hero_wrapper .hero_text_wrapper .hero_text_content h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
body main .hero_wrapper .hero_text_wrapper .hero_text_content h2 {
  margin: 35px 0;
  font-weight: 300;
  font-size: 1.875rem;
  color: #c0c0c0;
}
body main .hero_wrapper .hero_text_wrapper .hero_text_content .social_links a {
  line-height: 40px;
  display: block;
  font-size: 1.125rem;
}
body main .hero_wrapper .hero_text_wrapper .hero_text_content .social_links a:hover {
  color: #f1c50e;
}
body main .hero_wrapper .hero_img {
  flex: 1;
  background-image: url("/v1_portfolio/imgs/gffgfgfg-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (max-width: 700px) {
  body main .hero_wrapper {
    background-color: #111111;
    flex-direction: column;
  }
  body main .hero_wrapper .hero_img {
    height: 500px;
    flex: none;
  }
}
body .lorem_ipsum_wrapper {
  overflow-x: hidden;
  margin-top: 100px;
  padding: 15px 20px;
  background-color: black;
}
body .lorem_ipsum_wrapper p {
  width: -moz-max-content;
  width: max-content;
  font-size: 5rem;
}
body .side_menu_wrapper {
  background-color: #000000;
  opacity: 0.95;
  position: fixed;
  top: 0;
  height: 100svh;
  width: 300px;
  text-align: center;
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 500ms;
}
@media (max-width: 600px) {
  body .side_menu_wrapper {
    width: 100%;
  }
}
body .side_menu_wrapper img {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media (max-width: 600px) {
  body .side_menu_wrapper img {
    width: 20px;
  }
}
body .side_menu_wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
  height: 100%;
}
@media (max-width: 600px) {
  body .side_menu_wrapper ul {
    justify-content: center;
  }
  body .side_menu_wrapper ul li {
    font-size: 1.5rem;
  }
}
body .side_menu_wrapper ul a {
  display: inline-block;
  font-size: 1.125rem;
}
body .side_menu_wrapper ul a::first-letter {
  color: #f1c50e;
}
body .modal {
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}

@keyframes fillBorder {
  100% {
    width: 100%;
  }
}
@keyframes border_fill {
  0% {
    border-bottom-color: #f1c50e;
    width: 100%;
  }
  25% {
    border-right-color: #f1c50e;
  }
  75% {
    border-top-color: #f1c50e;
    width: 100%;
  }
  100% {
    border-color: #f1c50e;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */